/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */



/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
   }
   * :focus{
    outline: transparent;
   }
   body{
    color: #444444;
    font-family: 'Roboto Slab', serif;
   }
  .container{
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
  }

/*----------button---------*/
.btn {
    display: inline-block;
    text-decoration: none;
    border-radius: 20px;
}
.btn:focus{
    opacity: 0.9;
}
.btn-green {
    padding: 10px 20px;
    background-color: #00d47f;
    color: #fff;
    margin-right: 20px;
    -webkit-box-shadow: 0 3px 0 #009f5f;
    box-shadow: 0 3px 0 #009f5f;
}
.btn-blue {
    padding: 10px 20px;
    background-color: #5e8dc3;
    color: #fff;
    margin-left: 20px;
    -webkit-box-shadow: 0 3px 0 #476a92;
    box-shadow: 0 3px 0 #476a92;
}

.btn-border { 
    padding: 5px 20px;
    border:2px solid #00d47f;
    border-radius: 20px;
    color: #00d47f;
    font-weight: 600;
}
.btn-border:hover { 
   color: #fff;
   background-color: #00d47f;
}
.btn-lightblue{
    padding: 10px 20px;
    background-color: #7bdbed;
    color: #5e8dc3;
    margin-left: 20px;
    -webkit-box-shadow: 0 3px 0 #5ca4b2;
            box-shadow: 0 3px 0 #5ca4b2;
}
.btn-lightblue:hover{
    background-color: #e0eef7;
    -webkit-box-shadow: 0 3px 0 #a8b3b9;
    box-shadow: 0 3px 0 #a8b3b9;
}


/*/------*/
.buttonBar{
    display: none;
}
/*/----------*/

/*/////////////////////////////////////////////////////////////////////////*/

/*-------------ICONS---------------*/
.icon-user:before{
    color: #fff;
    text-decoration: none;
}
.icon-right-open:before {
    color: rgba(0, 0, 0, .2);
    text-shadow: none;
}
.icon-lock:before {
    color: #fff;
    text-decoration: none;
}

.icon-location:before {
    padding-right: 10px;
}
 .icon-phone::before{
    padding-right: 10px;
 }   
 /*/////////////////////////////////////////////////////////////////////////*/

 .news .carousel .right-control {

    display: block;
    position: relative;
    top: -35px;
    left: 400px;
 }
 .news .carousel .left-control {

    display: block;
    position: relative;
    top: -219px;
    left: 375px;
 }

 .right-control {

    display: block;
    position: relative;
    top: -42px;
    left: 500px;
 }
 .left-control { 

    display: block;
    position: relative;
    top: -310px;
    left: 475px;
 }
  .right-control:hover{
    opacity: 0.5;
  }
  .left-control:hover{
    opacity: 0.5;
  }
  /*///////////////////////////////////////////////////////////////////////*/

  /*-------------HEADER---------------*/

header{
    background-color: #c8d6e3;
    color: #fff;
}
.logo{
    float: left;
    margin-top: 15px;
}
.live-chat{
   float: left;
}

.live-chat ul{
    
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 90px;
}

.live-chat li{
  
    display: inline-block;
    background-repeat: no-repeat ;
    margin-left: 80px;
    padding: 5px;
    border: 2px solid transparent;
    position: relative;
}
.live-chat li::before{
    position: absolute;
    content: '';
    background-image: url('../img/chat.png');
    width: 32px;
    height: 27px;
    top: 10px;
    left: -35px;
}

.live-chat li:nth-child(2):before{
    position: absolute;
    content: '';
    background-image: url('../img/forum.png');
    width: 32px;
    height: 27px;
    top: 10px;
    left: -35px;
}

.live-chat li:hover{
    border: 2px solid #b7c8dd;
    padding: 5px;
    background-color: #b7c8dd;
    border-radius: 10px;
}

.live-chat a{
    text-decoration: none;
    font-size:16px; 
    color: #e74c3c;
    font-weight: 900;
    position: relative;
}



.live-chat span{
    display: block;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.country{
    position: relative;
    background:  #e2e7ee;
    float: left;
    border-radius: 4px;
    width: 50px;
    height: 30px;
    background-repeat: no-repeat;
    margin-left: 65px;
    cursor: pointer;
}

.country ul{
    display: none;
    position: relative;
    z-index: 1;
    display: none;
    padding: 0;
    margin: 0;
    margin-top: 22px;
    list-style-type: none;
    border-radius: 0 0 4px 4px;
    background-color: #e3e7ee;
}

.country li{
    padding: 5px 10px;
}

.country::before{
    position: absolute;
    content: '';
    background-image: url('../img/flag.png');
    width: 21px;
    height: 14px;
    left: 10px;
    top: 7px;
}
.country::after{
    position: absolute;
    content: '';
    border-top: 5px solid rgba(0, 0, 0, .5);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    left: 35px;
    top: 11px;
}
.social{
    float: right;
}

.social ul{
    margin: 0;
    padding: 0;
}

.social li{
    display: inline-block;
    padding: 0 5px;
}

.social a {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-image: url('../img/sprite-social.png');
}

.icon-tw{
    background-position: 0 0 ;
}

.icon-facebook{
    background-position: 76px 0;
}

.icon-google{
    background-position: 32px 0;
}

.list{
    float: right;
    position: relative;
}

.list ul{
    margin: 0;
    padding: 0;

}

.list li{
    display: inline-block;
    padding: 20px 15px;
}

.list::before{
    position: absolute;
    content: '';
    border-left:2px solid #028085;
    height: 9px; 
    top:26px;
    left: 195px;
}

.list a {
    color: #82a3cc;
}
/*//////////////////////////////////////////////////////////////////*/

/*----------NAV------------*/

nav {
    background-color: #f7f7f7;
    width: 100%;
    border-radius: 0 0 10px 10px;
    position: relative;
    top: -15px;
}

nav ul{
    margin: 0;
    padding: 0;
    text-shadow:none;
}

nav li {
    display: inline-block;
    padding: 15px 18px 15px 17px;
}

nav a {
    text-decoration: none;
    color: #82a3cc;
    padding: 10px 10px;
}

nav a:hover{
    background-color: #00d47f;
    padding: 6px 10px;
    border-radius: 20px;
    color: #fff;
}
/*/////////////////////////////////////////////////////////////////////*/

/*--------INTRO-----------*/
.intro{
    background-image: url('../img/bg-intro.png');
   
    padding-bottom: 155px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 3px 7px rgba(0, 0, 0, .5);
}

 h1{
    margin: 0;
    padding-top: 155px;
    font-size: 46px;
    text-transform: uppercase;
    font-weight: 400;
}

.button {
    margin-top: 70px;
}
/*///////////////////////////////////////////////////////////////////////*/

/*-------------description-------------*/
.description{
    background-color: #eff3f7;
    padding-bottom: 90px;
    padding-top: 45px;
    position: relative;
}

.description::before{
    position: absolute;
    content: '';
    border-top: 35px solid #eff3f7;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    top: 476px;
    left: calc(50% - 55px);
}

.description-item {
    text-align: center;  
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
}

.description-item__ttl{
    margin-top: 20px;
    font-size: 20px;
    color: #5e8dc3;
}

.description-item__text{
    margin-top: 20px;
}

/*/////////////////////////////////////////////////////////////////////////*/

/*-------------HOW IT WORK--------------*/
.how-it-work{
    padding-top: 50px;
    padding-bottom: 85px;
}

 h2{
    position: relative;
    display: inline-block;
    margin-left: 200px;
}

h2::after{
    position: absolute;
    content: '';
    border-bottom: 1px solid #7bdbed;
    top: 40px;
    left: 0;
    width: 215px;
}

.col-50{
    width: 50%;
    
}

.how-it-work p {
    color: #7a9fcc;
    position: relative;
    text-align: center;
}
.how-it-work p::before{
   position: absolute;
   content: '';
   background-image: url('../img/arrow.png');
   width: 50px;
    height: 70px;
    left: 105px;
    top: 50px;
}

.how-it-work a{
    margin: 20px 165px 0 165px;
}

iframe{
    margin-top: 5px;
}
/*/////////////////////////////////////////////////////////////////////////*/

/*-------------ABOUT US---------------*/
.about{
    /*padding-top: 50px;*/
    padding-bottom: 95px;
}
.col-50 img {
    width: 390px;
    height: 250px;
    margin-top: -35px;
    margin-left: 70px;
}

/*//////////////////////////////////////////////////////////////////////////*/

/*---------------PROMO-------------*/

.promo{
    background-image: url('../img/plant.png');
    text-align: center;
    color: #fff;
    padding-bottom: 120px;
    border-bottom: 10px solid #adb2ba;
    position: relative;
}

.promo::after{
    position: absolute;
    content: '';
    border-top: 35px solid #adb2ba;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    top: 547px;
    left: calc(50% - 55px);
    z-index: 1;
}

.promo h1{
    padding-top: 150px;
    font-size: 40px;
}
.click{
    background-color: transparent;
    border: none;
    background-image: url('../img/click.png');
    width: 140px;
    height: 140px;
}
.click:hover{
     animation-duration: 1s;
     animation-name: bounceIn;
}
@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
/*/////////////////////////////////////////////////////////////////////////*/

/*-------------GRAPH-------------*/
.card{
    position: relative;
    background-image: url('../img/bg-graph.png');
    padding-top: 15px;
    padding-bottom: 53px;
    text-align: center;
    border-bottom: 5px solid #ddebf4;
}

.card::after{
    position: absolute;
    content: '';
    border-top: 35px solid #ddebf4;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    top: 705px;
    left: calc(50% - 55px);
}

.title {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 36px;
    color: #222222;
}

.card-33{
    position: relative;
    width: 31%;
    margin-top: 45px;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    background-color: rgba(255, 255, 255, .4);
    border: 2px solid #fff;
}

.card-33::after{
    position: absolute;
    content: '';
    width: 105px;
    height: 105px;
    left: 87px;
    top: -70px;
    border: 2px solid #fdfefe;
    border-radius: 50%;
    background: #ecf4fa;
}

.card-33::before{
    position: absolute;
    content: '';
    width: 90px;
    height: 90px;
    left: 95px;
    top: -62px;
    border: 2px solid #7edbed;
    border-radius: 50%;
    background: rgb(223, 237, 246) url(../img/Dollar.png);
    background-position: 28px 12px;
    background-repeat: no-repeat;
    z-index: 1;
}

.card-33:hover{
    background-color: rgba(255, 255, 255, .8);
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: tada;
    animation-name: tada;
    
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
  }
}

.card_ttl{
    margin-top: 38px;
    font-size: 36px;
    color:#5e8dc3;
}
.card_procent{
    color: #e74c3c;
    font-size: 36px;
    font-weight: 600;
    
}
.total {
    color: #e74c3c;
    font-size: 36px;
    font-weight: 200;
    line-height: 30px;
}
.card ul{
    
    padding: 0;
    list-style-type: none;
}
.card li{
    padding: 5px;
}
.card li >span{
    color:#444;
    font-weight: 600;

}
/*/////////////////////////////////////////////////////////////////////////*/

/*-------------NEWS CAROUSEL-----------*/

.news{
    padding-top: 70px;
   
}
.carousel{
    padding-bottom: 90px;
    border-bottom: 1px solid #e2e2e2;
}
.col-50 a{
    text-decoration: none;
    color: #00d47f;
}
.date{
    float: left;
    text-align:center;
    padding-right: 20px;
    color: #00d47f;
    font-size: 36px;
}
.date span{
    display: block;
    color: #ddd;
    font-size: 16px;
}
.text-news{
    float: left;
    width: 340px;
}

/*/////////////////////////////////////////////////////////////////////////*/

/*-----------RECALL--------*/
.recall{
    padding-top: 80px;
    padding-bottom: 80px;
}
.recall h2+h2{
    float: right;
    margin-left: 0;
    margin-right: 340px;
}
.col-33{
    width: 33%;
    /*overflow: hidden;*/
    
}
.col-33 p{
    position: relative;
    padding-left: 50px;
}
.col-33 p::before{
   position: absolute;
    content: '';
    background-image: url(../img/quote.png);
    width: 26px;
    height: 19px;
    left: 17px;
    top: 115px;
    background-repeat: no-repeat;
}
.recall .carousel{
    width: 560px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
}
.foto{
    float: left;
}
.block-recall{
    float: left;
    margin-bottom: 20px;
}
.name{
    font-size: 24px;
    padding-left: 20px;
    
}
.adress{
    display: inline-block;
    font-size: 14px;
    color: #ddd;
    position: relative;
    padding-left: 20px;
    
}
.adress::before{
    position: absolute;
    content: '';
    background-image: url('../img/line.png');
    width: 180px;
    height: 10px;
    left: 20px;
    top:20px;

}
/*///////////////////////////////////////////////////////////////////////*/
form{
    margin-left: 35px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-33 form p{
   padding: 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 21px;
    color: #222222;
}
.col-33 form p:before{
    background-image: none;
}
input[type="checkbox"]  {
  position: relative;
  top: 14px;
  left: 5px;
  display: block;
  z-index: 1;
  opacity: 0; 
}    
label{
    position: relative;
    padding-left: 40px;
}

input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0px;
  width: 20px;
  height: 20px;
  border: 2px solid #00d47f;
  }

input[type="checkbox"]:checked + label:after {
   position: absolute;
    content: '';
    width: 16px;
    height: 16px;
    top: 0px;
    left: 4px;
    background-color: #00d47f;
    color: #028085;
}
.submit {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
/*/////////////////////////////////////////////////////////////////////////*/

/*------------INFO-----------*/
.info{
   background: -webkit-gradient(linear, left top, right top, from(rgba(205,191,204,1)), color-stop(50%, rgba(184,229,244,1)), to(rgba(209,228,203,1)));
   background: linear-gradient(to right, rgba(205,191,204,1) 0%, rgba(184,229,244,1) 50%, rgba(209,228,203,1) 100%); 
   padding-top: 20px;
   padding-bottom: 75px;
}
.info h2{
    margin-left: 0;
}
.info img{
    width: 242px;
    height: 57px;
    margin-top: 20px;
}
.info ul{
    margin: 0;
    padding: 0;

}
.info li{
    display: inline-block;
    width: 55px;
    height: 55px;
    border: 1px solid #34495e;
    border-radius: 50%; 
    margin: 0 5px;
}
.info a {
    background-image: url('../img/sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    width: 55px;
    height: 55px;

}

.icon-pm {
    background-position: 10px 10px ;
}
.icon-ego{
    background-position: -54px 10px ;
}
.icon-STP{
    background-position: -119px 10px ;
}
.icon-bitcoin{
    background-position: -184px  10px ;
}
.icon-payeer{
    background-position: -248px 10px ;
}
/*/////////////////////////////////////////////////////////////////////////*/

/*----------FOOTER---------*/

.footer-top{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #34495e;
    color: #d6d8db;
}
.col-25{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;

}
.col-25 ul{
    list-style-type: none;
    padding: 0;
}
.col-25 li{
    padding: 5px;
}
.col-25 a{
    text-decoration: none;
    color: #d6d8db;
}
.col-25 a:hover{
    color: #00d47f;
}
 .col-25:nth-child(3){
    color: #6fc4d5;
}
 .col-25:nth-child(3) span:nth-child(2){
    display: inline-block;
    padding-top: 20px;
}

.col-25 p+p{
    color: #6d8496;
}
.footer-top img{
    margin-bottom: 20px;
}

/*/////////////////////////////////////////////////////////////////////////*/
/*---------FOOTER-BOTTOM--------*/
.footer-bottom{
    background-color: #e4e4e4;
    color: #adadad;
}
.logo-ft span{
    font-weight: 600;
}

.logo-ft img{
    margin: 0;
    margin-right: 15px;
}
.footer-bottom .list{
   margin-left: 275px;
}
.footer-bottom .list li{
    padding: 0 10px 15px 10px;
}
.footer-bottom .list::before{
    top:7px;
    left: 176px;
}
.footer-bottom .list::after{
    position: absolute;
    content: '';
    border-left:2px solid #028085;
    height: 9px; 
    top: 7px;
    left: 299px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== 

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

